version: 2
jobs:
  release:
    docker:
      - image: gesquive/docker-builder:latest
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: docker login -u $DOCKER_USER -p $DOCKER_TOKEN $DOCKER_REGISTRY
      - run: docker info
      - run: docker run --rm --privileged docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
      - run: GOVERSION=1.16 make release-multiarch
      - run: GOVERSION=1.17 make release-multiarch
      - run: GOVERSION=1.18 make release-multiarch


workflows:
  version: 2
  docker-build:
    jobs:
      - release:
          context: docker-deploy
  weekly:
    triggers:
      - schedule:
          cron: "0 3 * * 1"
          filters:
            branches:
              only:
                - master
    jobs:
      - release:
          context: docker-deploy
